# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtualenvs
env/
venv/

# Editor folders
.vscode/

# Pytest cache
.pytest_cache/

# Local Books
book/

# VS Code Extension
epub-reader/
node_modules/
